@using LSS;
@model dynamic

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div class="Lecturer_Courses">
    <ul class="Course_ul">
        @foreach (var course in Model.Coordinator)
        {
            <li> @course.Title</li>
        }
    </ul>

</div>

@if (Model.DptCourses != null)
{
    <div class="Lecturer_Courses">
        <ul class="Course_ul">
            @foreach (var course in Model.DptCourses)
            {
                <li> @course.Title</li>
            }
        </ul>

    </div>
}

@if (Model.FacultyCourses != null)
{
    <div class="Lecturer_Courses">
        <ul class="Course_ul">
            @foreach (var course in Model.FacultyCourses)
            {
                <li> @course.Title</li>
            }
        </ul>

    </div>
}