@*@model List <LSS.Models.LSS_DB_Model.Course>*@
@using LSS;
@model dynamic

    @{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
@*<div class="Lecturer_Courses">
    <ul class="Course_ul">
        @foreach(var course in Model)
            {
                <li> @course.Title</li>
            }
    </ul>

</div>*@

<div class="Lecturer_Courses">
    <ul class="Course_ul">
        @foreach (var course in Model.Coordinator)
        {
            <li> @course.Title</li>
        }
    </ul>

</div>