﻿@model LSS.Models.Lecturer
@{ ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/LoginCSS.css" />

<h2>Login</h2>
<div class="loginForm">
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = Request.QueryString["ReturnUrl"] }, FormMethod.Post))
    {
        <form action="" method="post" class="Login">
            <div class="form-groupe">

                @Html.TextBoxFor(u => u.ID, new { @class = "form-control", @placeholder = "password", tabindex = "2" });
                <label class="form-lable">ID Number</label>
            </div>

            <div class="form-groupe">
                @Html.PasswordFor(u => u.Password, new { @class = "form-control", @placeholder = "password", tabindex = "2" })
                <label class="form-lable"> Password</label>
            </div>

            <button id="loginButtton_loginForm"> Login</button>
        </form>
    }@if (ViewData.ModelState[""] != null)
    {
        <div class="alert alert-danger">
            @Html.ValidationSummary()
        </div>
    }
</div>