
@{
    ViewBag.Title = "CourseInformationForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table align="center">
    <tr>
        <th>
            Al-Ahliyya Amman University
        </th>

        <td>
            <img src="~/Images/Al-Ahliya_Amman_University_Logo.png" />
        </td>

        <th>  جامعة عمان الأهلية </th>
    </tr>
</table>
<P align="center"><b> Faculty of Information Technology</b> </P>
<hr style="border: 2px solid black" />

<table style=" border:double, 2px solid black" align="center" width="30%" height="30%">
    <tr> <td bgcolor="silver" style="border:1px solid black">  <p align="center"> <b>Course Information Form </b> </p></tr>
</table>
<br />
<br />
<table class="table" style="border: 2px solid black">
    <tr>
        <th bgcolor="silver" style=" border:1px solid black"> Faculty</th>
        <td style=" border:1px solid black">  </td>
        <th bgcolor="silver" style=" border:1px solid black"> Department </th>
        <td style=" border:1px solid black" colspan="6">  </td>
    </tr>
    <tr>
        <th bgcolor="silver" style=" border:1px solid black"> Course Title</th>
        <td style=" border:1px solid black">  </td>
        <th bgcolor="silver" style=" border:1px solid black"> Course Code  </th>
        <td style=" border:1px solid black" colspan="6">  </td>
    </tr>
    <tr>
        <th bgcolor="silver" style=" border:1px solid black"> Pre- requisite</th>
        <td style=" border:1px solid black">  </td>
        <th bgcolor="silver" style=" border:1px solid black"> Co- requisite  </th>
        <td style=" border:1px solid black" colspan="6">  </td>
    </tr>
    <tr>
        <th bgcolor="silver" style=" border:1px solid black"> Academic Year </th>
        <td style=" border:1px solid black">  </td>
        <th bgcolor="silver" style=" border:1px solid black"> Semester  </th>
        <td style=" border:1px solid black" colspan="6">  </td>
    </tr>
    <tr>
        <th bgcolor="silver" style=" border:1px solid black"> Course Instructor/<br />Coordinator </th>
        <td style=" border:1px solid black">  </td>
        <th bgcolor="silver" style=" border:1px solid black"> No. of Students in <br />each Section  </th>
        <th style=" border:1px solid black"> 1 </th>
        <td style=" border:1px solid black">  </td>
        <th style=" border:1px solid black"> 2 </th>
        <td style=" border:1px solid black">  </td>
        <th style=" border:1px solid black"> 3 </th>
        <td style=" border:1px solid black">  </td>
    </tr>
</table>
<br />
<br />
<table class="table" style="border: 2px solid black">
    <tr>
        <th bgcolor="silver" style=" border:1px solid black" colspan="7"> List ofStudentLearning Outcomes&Performance Indicators (PIs) that are aligned with the Course </th>
    </tr>
    <tr>
        <th bgcolor="silver" style=" border:1px solid black"> Student Learning<br /> Outcomes </th>
        <td style=" border:1px solid black">  </td>
        <td style=" border:1px solid black">  </td>
        <td style=" border:1px solid black">  </td>
        <td style=" border:1px solid black">  </td>
        <td style=" border:1px solid black">  </td>
        <td style=" border:1px solid black">  </td>
    </tr>
    <tr>
        <th bgcolor="silver" style=" border:1px solid black"> Performance <br /> Indicators (PIs) </th>
        <td style=" border:1px solid black">  </td>
        <td style=" border:1px solid black">  </td>
        <td style=" border:1px solid black">  </td>
        <td style=" border:1px solid black">  </td>
        <td style=" border:1px solid black">  </td>
        <td style=" border:1px solid black">  </td>
    </tr>
</table>
<br />
<br />
<table class="table" style="border: 2px solid black">
    <tr>
        <th bgcolor="silver" style=" border:1px solid black" colspan="3"> Descriptions of StudentLearning Outcomes&Performance Indicators (PIs)  </th>
    </tr>
    <tr>
        <th bgcolor="silver" style=" border:1px solid black"> Student Learning Outcomes   </th>
        <th bgcolor="silver" style=" border:1px solid black" colspan="2"> Performance Indicators  </th>
    </tr>
    <tr>
        <td style=" border:1px solid black" rowspan="2">  </td>
        <td style=" border:1px solid black">  </td>
        <td style=" border:1px solid black">  </td>
    </tr>
    <tr>
        <td style=" border:1px solid black">  </td>
        <td style=" border:1px solid black">  </td>
    </tr>
    <tr>
        <td style=" border:1px solid black" rowspan="2">  </td>
        <td style=" border:1px solid black">  </td>
        <td style=" border:1px solid black">  </td>
    </tr>
    <tr>
        <td style=" border:1px solid black">  </td>
        <td style=" border:1px solid black">  </td>
    </tr>
</table>
<br />
<br />
<br />
<table>
    <tr>

        <td> <img src="~/Images/R.PNG" /> </td>
        <td><img src="~/Images/Quality.PNG" /> </td>
        <td><img src="~/Images/Risk.PNG" /></td>
        <td>
            <b>
                EP-F891, Rev. a<br />
                Ref.: 15/06/2019 - 2020<br />
                Date: 10/10/2019
            </b>

        </td>

        <td> <img src="~/Images/Certified.PNG" /> </td>
    </tr>
</table>
<br />
<br />
<table align="center">
    <tr>
        <th>
            Al-Ahliyya Amman University
        </th>

        <td>
            <img src="~/Images/Al-Ahliya_Amman_University_Logo.png" />
        </td>

        <th>  جامعة عمان الأهلية </th>
    </tr>
</table>
<P align="center"><b> Faculty of Information Technology</b> </P>
<hr style="border: 2px solid black" />
<br />
<br />
<table class="table" style="border: 2px solid black">
    <tr>
        <th bgcolor="silver" style=" border:1px solid black" colspan="3"> CLOs-SLOs Map  </th>
    </tr>
    <tr>
        <th bgcolor="silver" style=" border:1px solid black"> <p align="center"> No. </p> </th>
        <th bgcolor="silver" style=" border:1px solid black"> <p align="center">Course Learning Outcome(s) </p> </th>
        <th bgcolor="silver" style=" border:1px solid black"> <p align="center"> Relationship<br /> toStudentLearning <br />Outcomes </p> </th>
    </tr>
    <tr>
        <th style=" border:1px solid black"> <p align="center">1</p>  </th>
        <td style=" border:1px solid black">  </td>
        <td style=" border:1px solid black">  </td>
    </tr>
    <tr>
        <th style=" border:1px solid black"> <p align="center">2</p> </th>
        <td style=" border:1px solid black">  </td>
        <td style=" border:1px solid black">  </td>
    </tr>
    <tr>
        <th style=" border:1px solid black"> <p align="center">3</p> </th>
        <td style=" border:1px solid black">  </td>
        <td style=" border:1px solid black">  </td>
    </tr>
    <tr>
        <th style=" border:1px solid black"><p align="center">4</p> </th>
        <td style=" border:1px solid black">  </td>
        <td style=" border:1px solid black">  </td>
    </tr>
</table>
<br />
<table class="table" style="border: 2px solid black">
    <tr>
        <th bgcolor="silver" style=" border:1px solid black" colspan="3"> Course Assessment  </th>
    </tr>
    <tr>
        <th bgcolor="silver" style=" border:1px solid black"> Will this course be Assessed <br /> in this Semester? </th>
        <td style=" border:1px solid black"> <p align="center"> (Yes/No) </p>  </td>
        <th style=" border:1px solid black"> If No, Please Specify the Reason: <br /><hr style="border: 1px dashed " /> </th>
    </tr>
</table>

<b>If Yes, Please list below the Assessment Plan: </b>
<br />
<br />
<table class="table" style="border: 2px solid black">
    <tr>
        <th bgcolor="silver" style=" border:1px solid black" colspan="2"> Assessment Plan for the Student Learning Outcome (just select) </th>
    </tr>
    <tr>
        <td style=" border:1px solid black">
            <b> 1.	Direct Assessment Activities: </b><br />
            <input type="checkbox" /> Midterm Test.<br />
            <input type="checkbox" /> Final Exam.<br />
            <input type="checkbox" /> Quiz.<br />
            <input type="checkbox" /> Assignment.<br />
            <input type="checkbox" /> Project.
        </td>
        <td style=" border:1px solid black">
            <br />
            <input type="checkbox" /> Written Report.<br />
            <input type="checkbox" /> Oral Presentation.<br />
            <input type="checkbox" /> Practice in the Lab.<br />
            <input type="checkbox" /> Case Study.<br />
            <input type="checkbox" /> Others (identify):……………………..
        </td>
    </tr>
    <tr>
        <td style=" border:1px solid black">
            <b> 2.	Indirect Assessment Activities:</b> <br />
            <input type="checkbox" /> Course Assessment Survey by students. <br />
            <input type="checkbox" /> Group Discussions.
        </td>
        <td>
            <br />
            <input type="checkbox" /> Students’ Interviews.  <br />
            <input type="checkbox" /> Others (identify):…………………
        </td>
    </tr>
</table>
<br />
<br />
<br />
<table>
    <tr>

        <td> <img src="~/Images/R.PNG" /> </td>
        <td><img src="~/Images/Quality.PNG" /> </td>
        <td><img src="~/Images/Risk.PNG" /></td>
        <td>
            <b>
                EP-F891, Rev. a<br />
                Ref.: 15/06/2019 - 2020<br />
                Date: 10/10/2019
            </b>

        </td>

        <td> <img src="~/Images/Certified.PNG" /> </td>
    </tr>
</table>
<br />
<br />
<table align="center">
    <tr>
        <th>
            Al-Ahliyya Amman University
        </th>

        <td>
            <img src="~/Images/Al-Ahliya_Amman_University_Logo.png" />
        </td>

        <th>  جامعة عمان الأهلية </th>
    </tr>
</table>
<P align="center"><b> Faculty of Information Technology</b> </P>
<hr style="border: 2px solid black" />

<table style=" border:double, 2px solid black" align="center" width="30%" height="30%">
    <tr> <td bgcolor="silver" style="border:1px solid black"> <b>Assessment Tools </b> </tr>
</table>
<br />
<b>1)	Direct Assessment Tool:</b>
<br />
The intended students' learning outcomes will be directly assessed based on the rubrics provided below.
<br />
<br />
<b>2)	Indirect Assessment Tool:</b>
<br />
The intended students' learning outcomes will be indirectly assessed using the Course Assessment Survey
<br />provided below(To be filled by each Student at the time of Course Completion).
<br />
<br />
<table class="table" style="border: 2px solid black">
    <tr>
        <th style="border: 1px solid black" bgcolor="silver" rowspan="2">
            <h4>
                <b>
                    Studentlearning outcomes
                    <br />(by completing this course, students are able to:)
                </b>
            </h4>
        </th>
        <th style="border: 1px solid black" bgcolor="silver">Strongly<br /> Disagree</th>
        <td style="border: 1px solid black" bgcolor="silver" colspan="3"> </td>
        <th style="border: 1px solid black" bgcolor="silver">Strongly <br />Agree</th>
    </tr>

    <tr>
        <th style="border: 1px solid black">1</th>
        <th style="border: 1px solid black">2</th>
        <th style="border: 1px solid black">3</th>
        <th style="border: 1px solid black">4</th>
        <th style="border: 1px solid black">5</th>
    </tr>
    <tr>
        <th>1. </th>
        <td style="border: 1px solid black"><input type="checkbox" /> </td>
        <td style="border: 1px solid black"> <input type="checkbox" /></td>
        <td style="border: 1px solid black"> <input type="checkbox" /></td>
        <td style="border: 1px solid black"><input type="checkbox" /> </td>
        <td style="border: 1px solid black"><input type="checkbox" /> </td>
    </tr>
</table>
<br />
<table class="table" style="border: 2px solid black">
    <tr>
        <th bgcolor="grey" style=" border:1px solid black" colspan="6"> Responsible Staff Signature: </th>
    </tr>
    <tr>
        <th bgcolor="silver" style=" border:1px solid black"> Course Instructor/ <br />Coordinator </th>
        <td style=" border:1px solid black">  </td>
        <th bgcolor="silver" style=" border:1px solid black"> Date </th>
        <td style=" border:1px solid black">  </td>
        <th bgcolor="silver" style=" border:1px solid black"> Signature </th>
        <td style=" border:1px solid black">  </td>
    </tr>
    <tr>
        <th bgcolor="silver" style=" border:1px solid black"> Head of Department </th>
        <td style=" border:1px solid black">  </td>
        <th bgcolor="silver" style=" border:1px solid black"> Date </th>
        <td style=" border:1px solid black">  </td>
        <th bgcolor="silver" style=" border:1px solid black"> Signature </th>
        <td style=" border:1px solid black">  </td>
    </tr>
    <tr>
        <th bgcolor="silver" style=" border:1px solid black"> Vice Dean of <br /> Accreditation and Quality </th>
        <td style=" border:1px solid black">  </td>
        <th bgcolor="silver" style=" border:1px solid black"> Date </th>
        <td style=" border:1px solid black">  </td>
        <th bgcolor="silver" style=" border:1px solid black"> Signature </th>
        <td style=" border:1px solid black">  </td>
    </tr>
</table>
<br />
<br />
<br />
<table>
    <tr>

        <td> <img src="~/Images/R.PNG" /> </td>
        <td><img src="~/Images/Quality.PNG" /> </td>
        <td><img src="~/Images/Risk.PNG" /></td>
        <td>
            <b>
                EP-F891, Rev. a<br />
                Ref.: 15/06/2019 - 2020<br />
                Date: 10/10/2019
            </b>

        </td>

        <td> <img src="~/Images/Certified.PNG" /> </td>
    </tr>
</table>

