
@{
    ViewBag.Title = "CourseAssessmentSurvey";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/Content/FormsStyle.css" />
<header>
    <table align="center">
        <tr>
            <th>
                Al-Ahliyya Amman University
            </th>

            <td>
                <img src="~/Images/Al-Ahliya_Amman_University_Logo.png" />
            </td>

            <th>  جامعة عمان الأهلية </th>
        </tr>
    </table>
    <P align="center"><b> Faculty of Information Technology</b> </P>
    <hr style="border: 2px solid black" />
</header>

<body>

    <table id="FormName" >
        <tr> <td bgcolor="silver" style="border:1px solid black">  <p align="center"> <b>Course Assessment Survey </b> </p></tr>

    </table>

    <p>
        <u><b>Note to Students:</b></u>
        <br />
        <br />
        The Faculty of Information Technology continually strives to improve the
        <br />education its students receive. We consider input from our students as one of
        <br />  the key factors in this process. Accordingly, we would appreciate your taking a
        <br />  few minutes to complete the following survey concerning your experience with
        this course.
        <br />
        <br />
        <br />
        <strong>
            Please notice that the result of this survey is for the sole purpose of assessment and
            <br /> improvement of our IT programs. It has nothing to do with your evaluation of the
            <br />instructor.
        </strong>
    </p>

    <P id="Pagebreak" style="page-break-before: always" >

        <table class="table" style="border: 2px solid black">
            <tr style="border: 1px solid black">
                <th bgcolor="silver" style="border: 1px solid black">Faculty</th>
                <td style="border: 1px solid black"> </td>
                <th bgcolor="silver" style="border: 1px solid black">Major</th>
                <td style="border: 1px solid black"> </td>
            </tr>

            <tr style="border: 1px solid black">
                <th bgcolor="silver" style="border: 1px solid black">Course Title</th>
                <td style="border: 1px solid black"> </td>
                <th bgcolor="silver" style="border: 1px solid black">Course Code</th>
                <td style="border: 1px solid black"> </td>
            </tr>

            <tr>
                <th bgcolor="silver" style="border: 1px solid black">Section</th>
                <td> </td>
                <th bgcolor="silver" style="border: 1px solid black">Academic<br />Year/Semester</th>
                <td style="border: 1px solid black"> </td>
            </tr>
        </table>

        <br />
        For each of the abilities, attributes, and skills listed below, please check the appropriate box that
        <br />corresponds to the extent you feel the class has helped you to achieve during the semester.
        <br />
        <br />

        <table class="table" style="border: 2px solid black">
            <tr>
                <th style="border: 1px solid black" bgcolor="silver" rowspan="2">
                    <h4>
                        <b>
                            Studentlearning outcomes
                            <br />(by completing this course, students are able to:)
                        </b>
                    </h4>
                </th>
                <th style="border: 1px solid black" bgcolor="silver">Strongly<br /> Disagree</th>
                <td style="border: 1px solid black" bgcolor="silver" colspan="3"> </td>
                <th style="border: 1px solid black">Strongly <br />Agree</th>
            </tr>

            <tr>
                <th style="border: 1px solid black">1</th>
                <th style="border: 1px solid black">2</th>
                <th style="border: 1px solid black">3</th>
                <th style="border: 1px solid black">4</th>
                <th style="border: 1px solid black">5</th>
            </tr>
            <tr>
                <th>1. </th>
                <td style="border: 1px solid black"><input type="checkbox" /> </td>
                <td style="border: 1px solid black"> <input type="checkbox" /></td>
                <td style="border: 1px solid black"> <input type="checkbox" /></td>
                <td style="border: 1px solid black"><input type="checkbox" /> </td>
                <td style="border: 1px solid black"><input type="checkbox" /> </td>
            </tr>
        </table>

        <br />
        <b>
            Please feel free to provide any further comments on this course and make suggestions on ways
            <br /> that the contents and/or delivery of this course could be improved.
        </b>
        <br />
        <hr style="border: 1px solid black" />
        <hr style="border: 1px solid black" />
        <hr style="border: 1px solid black" />
        <hr style="border: 1px solid black" />
        <br />

        <div align="center">
            <b>
                End of the questionnaire
                <br />Thank you for taking the time to complete this survey
                <br />You contribution is highly valuable and appreciated
            </b>
        </div>
    </P>

</body>
<footer>
    <table class="img_footer">
        <tr>

            <td> <img src="~/Images/R.PNG" /> </td>
            <td><img src="~/Images/Quality.PNG" /> </td>
            <td><img src="~/Images/Risk.PNG" /></td>
            <td>
                <b>
                    EP-F891, Rev. a<br />
                    Ref.: 15/06/2019 - 2020<br />
                    Date: 10/10/2019
                </b>

            </td>

            <td> <img src="~/Images/Certified.PNG" /> </td>
        </tr>
    </table>
</footer>

