
@{
    ViewBag.Title = "CourseReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table align="center">
    <tr>
        <th>
            Al-Ahliyya Amman University
        </th>

        <td>
            <img src="~/Images/Al-Ahliya_Amman_University_Logo.png" />
        </td>

        <th>  جامعة عمان الأهلية </th>
    </tr>
</table>
<P align="center"><b> Faculty of Information Technology</b> </P>
<hr style="border: 2px solid black" />

<table style=" border:double, 2px solid black" align="center" width="30%" height="30%">
    <tr> <td bgcolor="silver" style="border:1px solid black">  <p align="center"> <b>Course Report </b> </p></tr>
</table>
<br />
<br />
<table class="table" style="border: 2px solid black">
    <tr>
        <th bgcolor="silver" style=" border:1px solid black" colspan="4"> General Information: </th>
    </tr>
    <tr>
        <th bgcolor="silver" style=" border:1px solid black"> Faculty </th>
        <td style=" border:1px solid black">  </td>
        <th bgcolor="silver" style=" border:1px solid black"> Department </th>
        <td style=" border:1px solid black">  </td>
    </tr>
    <tr>
        <th bgcolor="silver" style=" border:1px solid black"> Academic Year </th>
        <td style=" border:1px solid black">   </td>
        <th bgcolor="silver" style=" border:1px solid black"> Semester </th>
        <td style=" border:1px solid black">  </td>
    </tr>
    <tr>
        <th bgcolor="silver" style=" border:1px solid black" colspan="4"> Course Information: </th>
    </tr>
    <tr>
        <th bgcolor="silver" style=" border:1px solid black"> Course Title </th>
        <td style=" border:1px solid black">  </td>
        <th bgcolor="silver" style=" border:1px solid black"> Course Code </th>
        <td style=" border:1px solid black">  </td>
    </tr>
    <tr>
        <th bgcolor="silver" style=" border:1px solid black"> Pre-requisite </th>
        <td style=" border:1px solid black">  </td>
        <th bgcolor="silver" style=" border:1px solid black"> Co-requisite </th>
        <td style=" border:1px solid black">  </td>
    </tr>
    <tr>
        <td bgcolor="silver" style=" border:1px solid black"> <b>Credit Hours</b> <br />(Theory, Practical)</td>
        <td style=" border:1px solid black">  </td>
        <th bgcolor="silver" style=" border:1px solid black">Designation <br /> (Req. or Elec.) </th>
        <td style=" border:1px solid black">  </td>
    </tr>
    <tr>
        <th bgcolor="silver" style=" border:1px solid black"> No. of Sections</th>
        <td style=" border:1px solid black">  </td>
        <th bgcolor="silver" style=" border:1px solid black">No. of Students</th>
        <td style=" border:1px solid black">  </td>
    </tr>
    <tr>
        <th bgcolor="silver" style=" border:1px solid black" colspan="4"> Instructor/Coordinator Information: </th>
    </tr>
    <tr>
        <th bgcolor="silver" style=" border:1px solid black"> Instructor Name</th>
        <td style=" border:1px solid black">  </td>
        <th bgcolor="silver" style=" border:1px solid black">E-mail</th>
        <td style=" border:1px solid black">  </td>
    </tr>
    <tr>
        <th bgcolor="silver" style=" border:1px solid black"> Office No.</th>
        <td style=" border:1px solid black">  </td>
        <th bgcolor="silver" style=" border:1px solid black">Office Hours</th>
        <td style=" border:1px solid black">  </td>
    </tr>
</table>

<table class="table" style="border: 2px solid black">
    <tr>
        <th bgcolor="silver" style=" border:1px solid black" colspan="3"> Content delivery: </th>
    </tr>
    <tr>
        <td style=" border:1px solid black" colspan="3"> <input type="checkbox" /> All topics were covered as planned </td>
    </tr>
    <tr>
        <td style=" border:1px solid black" rowspan="2"> <input type="checkbox" /> Modifications to the content were made </td>
        <td bgcolor="silver" style=" border:1px solid black" colspan="2"> Reasons for variation:</td>
    </tr>
    <tr>
        <td style=" border:1px solid black" colspan="2"> </td>
    </tr>
    <tr>
        <td style=" border:1px solid black" colspan="3"> <input type="checkbox" /> Not all topics were covered:  </td>
    </tr>
    <tr>
        <th bgcolor="silver" style=" border:1px solid black">Topics (if any) not Fully Covered</th>
        <th bgcolor="silver" style=" border:1px solid black">Effected Student <br />Learning <br /> Outcomes</th>
        <th bgcolor="silver" style=" border:1px solid black">Possible Compensating Action</th>
    </tr>
    <tr>
        <td style=" border:1px solid black"> </td>
        <td style=" border:1px solid black" colspan="2"> </td>
    </tr>
    <tr>
        <td style=" border:1px solid black"> </td>
        <td style=" border:1px solid black" colspan="2"> </td>
    </tr>
</table>
<br />
<br />
<br />
<table class="img_footer">
    <tr>

        <td> <img src="~/Images/R.PNG" /> </td>
        <td><img src="~/Images/Quality.PNG" /> </td>
        <td><img src="~/Images/Risk.PNG" /></td>
        <td>
            <b>
                EP-F891, Rev. a<br />
                Ref.: 15/06/2019 - 2020<br />
                Date: 10/10/2019
            </b>

        </td>

        <td> <img src="~/Images/Certified.PNG" /> </td>
    </tr>
</table>
<br />
<br />
<br />
<table align="center">
    <tr>
        <th>
            Al-Ahliyya Amman University
        </th>

        <td>
            <img src="~/Images/Al-Ahliya_Amman_University_Logo.png" />
        </td>

        <th>  جامعة عمان الأهلية </th>
    </tr>
</table>
<table class="table" style="border: 2px solid black">
    <tr>
        <th bgcolor="silver" style=" border:1px solid black" colspan="2"> Teaching and Learning Strategies: </th>
    </tr>
    <tr>
        <td style=" border:1px solid black" colspan="2">
            Teaching style used for this course?<br />
            <input type="checkbox" /> In-class lectures
            <input type="checkbox" /> Group discussion
            <input type="checkbox" /> Demonstration
            <input type="checkbox" /> Others:
        </td>
    </tr>
    <tr>
        <td style=" border:1px solid black" colspan="2"> <input type="checkbox" /> Teaching and Learning strategies were effective for the specified SLOs of the course </td>
    </tr>
    <tr>
        <td style=" border:1px solid black" rowspan="2"><input type="checkbox" /> Not all effective </td>
        <td style=" border:1px solid black" bgcolor="silver">Reasons for ineffectiveness: (Suggested modifications to improve) </td>
    </tr>
    <tr>
        <td style=" border:1px solid black">  </td>
    </tr>
</table>
<br />
<br />
<table class="table" style="border: 2px solid black">
    <tr>
        <th bgcolor="silver" style=" border:1px solid black" colspan="2"> Assessment Strategies: </th>
    </tr>
    <tr>
        <td style=" border:1px solid black" colspan="2">
            Assessment strategies used for this course :<br />
            <input type="checkbox" /> Exams
            <input type="checkbox" /> Assignments
            <input type="checkbox" /> Quizzes
            <input type="checkbox" /> Projects
            <input type="checkbox" /> Others:
        </td>
    </tr>
    <tr>
        <td style=" border:1px solid black" colspan="2"> <input type="checkbox" /> Assessment strategieswere effective for the specified SLOs of the course </td>
    </tr>
    <tr>
        <td style=" border:1px solid black" rowspan="2"><input type="checkbox" /> Not all effective </td>
        <td style=" border:1px solid black" bgcolor=" aliceblue">Reasons for ineffectiveness: (Suggested modifications to improve) </td>
    </tr>
    <tr>
        <td style=" border:1px solid black">  </td>
    </tr>
</table>
<br />
<br />
<br />
<table class="img_footer">
    <tr>

        <td> <img src="~/Images/R.PNG" /> </td>
        <td><img src="~/Images/Quality.PNG" /> </td>
        <td><img src="~/Images/Risk.PNG" /></td>
        <td>
            <b>
                EP-F891, Rev. a<br />
                Ref.: 15/06/2019 - 2020<br />
                Date: 10/10/2019
            </b>

        </td>

        <td> <img src="~/Images/Certified.PNG" /> </td>
    </tr>
</table>
<br />
<br />
<br />
<table align="center" class="img_footer">
    <tr>
        <th>
            Al-Ahliyya Amman University
        </th>

        <td>
            <img src="~/Images/Al-Ahliya_Amman_University_Logo.png" />
        </td>

        <th>  جامعة عمان الأهلية </th>
    </tr>
</table>
<P align="center"><b> Faculty of Information Technology</b> </P>
<hr style="border: 2px solid black" />
<br />
<table class="table" style="border: 2px solid black">
    <tr>
        <th bgcolor="silver" style=" border:1px solid black" colspan="12"> Course Statistics </th>
    </tr>
    <tr>
        <th style=" border:1px solid black" bgcolor="aliceblue"> Section </th>
        <th style=" border:1px solid black" bgcolor="aliceblue"> No. Of <br />Enrolled Students </th>
        <th style=" border:1px solid black" bgcolor="aliceblue"> No. Of <br />Attendees </th>
        <th style=" border:1px solid black" bgcolor="aliceblue"> No. Of <br />Absentees </th>
        <th style=" border:1px solid black" bgcolor="aliceblue"> No. Of <br />Dismissed </th>
        <th style=" border:1px solid black" bgcolor="aliceblue"> No. Of <br />Withdrawn </th>
        <th style=" border:1px solid black" bgcolor="aliceblue"> Highest<br />Grade </th>
        <th style=" border:1px solid black" bgcolor="aliceblue"> Lowest <br />Grade </th>
        <th style=" border:1px solid black" bgcolor="aliceblue"> Average<br />Grade </th>
        <th style=" border:1px solid black" bgcolor="aliceblue"> Median <br />Grade </th>
        <th style=" border:1px solid black" bgcolor="aliceblue"> Success <br /> Rate </th>
        <th style=" border:1px solid black" bgcolor="aliceblue"> Class Absence <br /> Rate </th>
    </tr>
    <tr>
        <th style=" border:1px solid black" bgcolor="aliceblue"> 1 </th>
        <th style=" border:1px solid black">  </th>
        <th style=" border:1px solid black">  </th>
        <th style=" border:1px solid black">  </th>
        <th style=" border:1px solid black">  </th>
        <th style=" border:1px solid black">  </th>
        <th style=" border:1px solid black">  </th>
        <th style=" border:1px solid black">  </th>
        <th style=" border:1px solid black">  </th>
        <th style=" border:1px solid black">  </th>
        <th style=" border:1px solid black">  </th>
        <th style=" border:1px solid black">  </th>
    </tr>
    <tr>
        <th style=" border:1px solid black" bgcolor="aliceblue"> 2 </th>
        <th style=" border:1px solid black">  </th>
        <th style=" border:1px solid black">  </th>
        <th style=" border:1px solid black">  </th>
        <th style=" border:1px solid black">  </th>
        <th style=" border:1px solid black">  </th>
        <th style=" border:1px solid black">  </th>
        <th style=" border:1px solid black">  </th>
        <th style=" border:1px solid black">  </th>
        <th style=" border:1px solid black">  </th>
        <th style=" border:1px solid black">  </th>
        <th style=" border:1px solid black">  </th>
    </tr>
    <tr>
        <th style=" border:1px solid black" bgcolor="aliceblue"> ... </th>
        <th style=" border:1px solid black">  </th>
        <th style=" border:1px solid black">  </th>
        <th style=" border:1px solid black">  </th>
        <th style=" border:1px solid black">  </th>
        <th style=" border:1px solid black">  </th>
        <th style=" border:1px solid black">  </th>
        <th style=" border:1px solid black">  </th>
        <th style=" border:1px solid black">  </th>
        <th style=" border:1px solid black">  </th>
        <th style=" border:1px solid black">  </th>
        <th style=" border:1px solid black">  </th>
    </tr>
    <tr>
        <th style=" border:1px solid black" bgcolor="aliceblue"> All <br /> Sections</th>
        <th style=" border:1px solid black">  </th>
        <th style=" border:1px solid black">  </th>
        <th style=" border:1px solid black">  </th>
        <th style=" border:1px solid black">  </th>
        <th style=" border:1px solid black">  </th>
        <th style=" border:1px solid black">  </th>
        <th style=" border:1px solid black">  </th>
        <th style=" border:1px solid black">  </th>
        <th style=" border:1px solid black">  </th>
        <th style=" border:1px solid black">  </th>
        <th style=" border:1px solid black">  </th>
    </tr>
</table>
<br />
<table class="table" style="border: 2px solid black">
    <tr>
        <th bgcolor="silver" style=" border:1px solid black" colspan="14"> Grade Distribution </th>
    </tr>
    <tr>
        <th bgcolor="aliceblue" style=" border:1px solid black"> Grade </th>
        <th bgcolor="aliceblue" style=" border:1px solid black"> A </th>
        <th bgcolor="aliceblue" style=" border:1px solid black"> A- </th>
        <th bgcolor="aliceblue" style=" border:1px solid black"> B+ </th>
        <th bgcolor="aliceblue" style=" border:1px solid black"> B </th>
        <th bgcolor="aliceblue" style=" border:1px solid black"> B- </th>
        <th bgcolor="aliceblue" style=" border:1px solid black"> C+ </th>
        <th bgcolor="aliceblue" style=" border:1px solid black"> C </th>
        <th bgcolor="aliceblue" style=" border:1px solid black"> C- </th>
        <th bgcolor="aliceblue" style=" border:1px solid black"> D+ </th>
        <th bgcolor="aliceblue" style=" border:1px solid black"> D </th>
        <th bgcolor="aliceblue" style=" border:1px solid black"> D- </th>
        <th bgcolor="aliceblue" style=" border:1px solid black"> F </th>
        <th bgcolor="aliceblue" style=" border:1px solid black"> Total </th>
    </tr>
    <tr>
        <th bgcolor="aliceblue" style=" border:1px solid black"> No. of students </th>
        <td style=" border:1px solid black">  </td>
        <td style=" border:1px solid black">  </td>
        <td style=" border:1px solid black">  </td>
        <td style=" border:1px solid black">  </td>
        <td style=" border:1px solid black">  </td>
        <td style=" border:1px solid black">  </td>
        <td style=" border:1px solid black">  </td>
        <td style=" border:1px solid black">  </td>
        <td style=" border:1px solid black">  </td>
        <td style=" border:1px solid black">  </td>
        <td style=" border:1px solid black">  </td>
        <td style=" border:1px solid black">  </td>
        <td style=" border:1px solid black">  </td>
    </tr>
    <tr>
        <th bgcolor="aliceblue" style=" border:1px solid black"> Percentage </th>
        <td style=" border:1px solid black">  </td>
        <td style=" border:1px solid black">  </td>
        <td style=" border:1px solid black">  </td>
        <td style=" border:1px solid black">  </td>
        <td style=" border:1px solid black">  </td>
        <td style=" border:1px solid black">  </td>
        <td style=" border:1px solid black">  </td>
        <td style=" border:1px solid black">  </td>
        <td style=" border:1px solid black">  </td>
        <td style=" border:1px solid black">  </td>
        <td style=" border:1px solid black">  </td>
        <td style=" border:1px solid black">  </td>
        <td style=" border:1px solid black"> 100% </td>
    </tr>
</table>
<br />
<table class="table" style="border: 2px solid black">
    <tr>
        <th bgcolor="silver" style=" border:1px solid black" colspan="2">Results of Course Direct Assessment:</th>
    </tr>
    <tr>
        <th bgcolor="aliceblue" style=" border:1px solid black">Did you assess the course?</th>
        <th bgcolor="aliceblue" style=" border:1px solid black">
            <select name="menu">
                <option>Please Select...</option>
                <option>Yes, please attach results of the assessment tool.</option>
                <option>No, write the reason:</option>
            </select>
        </th>
    </tr>
    <tr>
        <th bgcolor="aliceblue" style=" border:1px solid black" colspan="2"> If Yes, Please list below the most important observations, and actions to be taken for improvement</th>
    </tr>
    <tr>
        <th bgcolor="aliceblue" style=" border:1px solid black"> Observations</th>
        <td style=" border:1px solid black">     </td>
    </tr>
    <tr>
        <th bgcolor="aliceblue" style=" border:1px solid black"> Analysis & <br />Justifications</th>
        <td style=" border:1px solid black">     </td>
    </tr>
    <tr>
        <th bgcolor="aliceblue" style=" border:1px solid black"> Recommendations</th>
        <td style=" border:1px solid black">     </td>
    </tr>
</table>
<br />
<br />
<br />
<table class="img_footer">
    <tr>

        <td> <img src="~/Images/R.PNG" /> </td>
        <td><img src="~/Images/Quality.PNG" /> </td>
        <td><img src="~/Images/Risk.PNG" /></td>
        <td>
            <b>
                EP-F891, Rev. a<br />
                Ref.: 15/06/2019 - 2020<br />
                Date: 10/10/2019
            </b>

        </td>

        <td> <img src="~/Images/Certified.PNG" /> </td>
    </tr>
</table>
<br />
<br />
<br />
<table align="center">
    <tr>
        <th>
            Al-Ahliyya Amman University
        </th>

        <td>
            <img src="~/Images/Al-Ahliya_Amman_University_Logo.png" />
        </td>

        <th>  جامعة عمان الأهلية </th>
    </tr>
</table>
<P align="center"><b> Faculty of Information Technology</b> </P>
<hr style="border: 2px solid black" />
<br />
<table class="table" style="border: 2px solid black">
    <tr>
        <th bgcolor="silver" style=" border:1px solid black" colspan="2">Results of Course Assessment Survey by Students: </th>
    </tr>
    <tr>
        <th bgcolor="aliceblue" style=" border:1px solid black">Did students evaluate the course?</th>
        <th bgcolor="aliceblue" style=" border:1px solid black">
            <select name="menu">
                <option>Please Select...</option>
                <option>Yes, please attach results of the students evaluation survey.</option>
                <option>No</option>
            </select>
        </th>
    </tr>
    <tr>
        <th bgcolor="aliceblue" style=" border:1px solid black" colspan="2"> If Yes, Please list below the instructor observationsand students’ commentsto be taken for improvement</th>
    </tr>
    <tr>
        <th bgcolor="aliceblue" style=" border:1px solid black"> Instructor <br /> Observations</th>
        <td style=" border:1px solid black">     </td>
    </tr>
    <tr>
        <th bgcolor="aliceblue" style=" border:1px solid black"> Student’s <br />Comments</th>
        <td style=" border:1px solid black">     </td>
    </tr>
    <tr>
        <td bgcolor="silver" style=" border:1px solid black" colspan="2"><b>Result of Other Evaluations: </b><br />Example: Head of department, Peers/colleaguesobservations, External examiners, Visiting reviewers, etc.…</td>
    </tr>
    <tr>
        <th bgcolor="aliceblue" style=" border:1px solid black">Is there other evaluation?</th>
        <th bgcolor="aliceblue" style=" border:1px solid black">
            <select name="menu">
                <option>Please Select...</option>
                <option>Yes.</option>
                <option>No.</option>
            </select>
        </th>
    </tr>
    <tr>
        <th bgcolor="aliceblue" style=" border:1px solid black" colspan="2"> If Yes, List the most important recommendations for improvement and response of instructor </th>
    </tr>
    <tr>
        <th bgcolor="aliceblue" style=" border:1px solid black"> Recommendations<br /> for improvement</th>
        <td style=" border:1px solid black">     </td>
    </tr>
    <tr>
        <th bgcolor="aliceblue" style=" border:1px solid black"> Response of <br /> instructor </th>
        <td style=" border:1px solid black">     </td>
    </tr>
</table>
<br />
<table class="table" style="border: 2px solid black">
    <tr>
        <th bgcolor="silver" style=" border:1px solid black" colspan="3">Plans/Actions for Improving the Course: </th>
    </tr>
    <tr>
        <td style=" border:1px solid black" colspan="3">
            <b>1.	Progress on actions proposed for improving the course in previous course reports (if any).</b><br />
            <br />(State whether each action was undertaken, the impact, and if the proposed action was not undertaken or completed,<br /> give reasons)
        </td>
    </tr>
    <tr>
        <td bgcolor="aliceblue" style=" border:1px solid black">Actions recommended<br /> from the most recent course report(s) </td>
        <td bgcolor="aliceblue" style=" border:1px solid black">Actions Taken</td>
        <td bgcolor="aliceblue" style=" border:1px solid black">Action Results</td>
    </tr>
    <tr>
        <td style=" border:1px solid black">  </td>
        <td style=" border:1px solid black">  </td>
        <td style=" border:1px solid black">  </td>
    </tr>
    <tr>
        <td style=" border:1px solid black">  </td>
        <td style=" border:1px solid black">  </td>
        <td style=" border:1px solid black">  </td>
    </tr>
    <tr>
        <td style=" border:1px solid black">  </td>
        <td style=" border:1px solid black">  </td>
        <td style=" border:1px solid black">  </td>
    </tr>
    <tr>
        <td style=" border:1px solid black" colspan="3">
            <b>2.	Action Plan for Improvement for Next Semester/Year</b><br />
            <br />Provide a brief summary of any action that should be taken to improve the course.  (For example:  professional <br /> development for faculty members, modifications to the course,  new equipment, new teaching techniques etc.)
        </td>
    </tr>
    <tr>
        <td bgcolor="aliceblue" style=" border:1px solid black" colspan="2">Actions Recommended for next semester/year</td>
        <td bgcolor="aliceblue" style=" border:1px solid black">Person Responsible</td>
    </tr>
    <tr>
        <td style=" border:1px solid black" colspan="2">  </td>
        <td style=" border:1px solid black">  </td>
    </tr>
    <tr>
        <td style=" border:1px solid black" colspan="2">  </td>
        <td style=" border:1px solid black">  </td>
    </tr>
    <tr>
        <td style=" border:1px solid black" colspan="2">  </td>
        <td style=" border:1px solid black">  </td>
    </tr>
</table>
<br />
<br /> 
<table class="img_footer">
    <tr>

        <td> <img src="~/Images/R.PNG" /> </td>
        <td><img src="~/Images/Quality.PNG" /> </td>
        <td><img src="~/Images/Risk.PNG" /></td>
        <td>
            <b>
                EP-F891, Rev. a<br />
                Ref.: 15/06/2019 - 2020<br />
                Date: 10/10/2019
            </b>

        </td>

        <td> <img src="~/Images/Certified.PNG" /> </td>
    </tr>
</table>
<br />
<br />
<table align="center">
    <tr>
        <th>
            Al-Ahliyya Amman University
        </th>

        <td>
            <img src="~/Images/Al-Ahliya_Amman_University_Logo.png" />
        </td>

        <th>  جامعة عمان الأهلية </th>
    </tr>
</table>
<P align="center"><b> Faculty of Information Technology</b> </P>
<hr style="border: 2px solid black" />
<br />
<br />
<table class="table" style="border: 2px solid black">
    <tr>
        <th bgcolor="silver" style=" border:1px solid black" colspan="6"> Responsible Staff Signature: </th>
    </tr>
    <tr>
        <th bgcolor="aliceblue" style=" border:1px solid black"> Course Instructor/ <br />Coordinator </th>
        <td style=" border:1px solid black">  </td>
        <th bgcolor="aliceblue" style=" border:1px solid black"> Date </th>
        <td style=" border:1px solid black">  </td>
        <th bgcolor="aliceblue" style=" border:1px solid black"> Signature </th>
        <td style=" border:1px solid black">  </td>
    </tr>
    <tr>
        <th bgcolor="aliceblue" style=" border:1px solid black"> Head of Department </th>
        <td style=" border:1px solid black">  </td>
        <th bgcolor="aliceblue" style=" border:1px solid black"> Date </th>
        <td style=" border:1px solid black">  </td>
        <th bgcolor="aliceblue" style=" border:1px solid black"> Signature </th>
        <td style=" border:1px solid black">  </td>
    </tr>
    <tr>
        <th bgcolor="aliceblue" style=" border:1px solid black"> Vice Dean of <br /> Accreditation and Quality </th>
        <td style=" border:1px solid black">  </td>
        <th bgcolor="aliceblue" style=" border:1px solid black"> Date </th>
        <td style=" border:1px solid black">  </td>
        <th bgcolor="Aliceblue" style=" border:1px solid black"> Signature </th>
        <td style=" border:1px solid black">  </td>
    </tr>
</table>
<br />
<br />
<br />
<p align="center" style="background-color:antiquewhite">Appendices</p>
<b>Appendix A:</b> Results ofCourse Assessment Worksheet
<br />
<br />
<br />
<b>Appendix B:</b> Results ofCourse Assessment Survey
<br />
<br />
<br />
<table class="img_footer">
    <tr>

        <td> <img src="~/Images/R.PNG" /> </td>
        <td><img src="~/Images/Quality.PNG" /> </td>
        <td><img src="~/Images/Risk.PNG" /></td>
        <td>
            <b>
                EP-F891, Rev. a<br />
                Ref.: 15/06/2019 - 2020<br />
                Date: 10/10/2019
            </b>

        </td>

        <td> <img src="~/Images/Certified.PNG" /> </td>
    </tr>
</table>