
@{
    ViewBag.Title = "ExamEvaluation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/Content/FormsStyle.css" rel="stylesheet" />
<input type="button" id="printPageButton" value="Print Document" onclick="window.print()" class="btn btn-primary" />
<header>
    <table align="center">
        <tr>
            <th>
                Al-Ahliyya Amman University
            </th>

            <td>
                <img src="~/Images/Al-Ahliya_Amman_University_Logo.png" />
            </td>

            <th>  جامعة عمان الأهلية </th>
        </tr>
    </table>
    <P align="center"><b> Faculty of Information Technology</b> </P>
    <hr style="border: 2px solid black" />
</header>
<table style=" border:double, 2px solid black" align="center" width="30%" height="30%">
    <tr> <td bgcolor="silver" style="border:1px solid black">  <p align="center"> <b>Exam Evaluation Form </b> </p></tr>
</table>
<br />
<br />
<table class="table" style="border: 2px solid black">
    <tr>
        <th bgcolor="silver" style=" border:1px solid black"> Faculty</th>
        <td style=" border:1px solid black">  </td>
        <th bgcolor="silver" style=" border:1px solid black"> Department </th>
        <td style=" border:1px solid black">  </td>
    </tr>
    <tr>
        <th bgcolor="silver" style=" border:1px solid black"> Course Title</th>
        <td style=" border:1px solid black">  </td>
        <th bgcolor="silver" style=" border:1px solid black"> Course Code  </th>
        <td style=" border:1px solid black">  </td>
    </tr>
    <tr>
        <th bgcolor="silver" style=" border:1px solid black"> Instructor/ <br /> Coordinator  Name</th>
        <td style=" border:1px solid black">  </td>
        <th bgcolor="silver" style=" border:1px solid black"> Academic Year /Semester  </th>
        <td style=" border:1px solid black">  </td>
    </tr>
    <tr>
        <th bgcolor="silver" style=" border:1px solid black"> Type of Exam</th>
        <td style=" border:1px solid black"> <input type="checkbox" /> Midterm   <input type="checkbox" /> Final   <input type="checkbox" /> Other: </td>
        <th bgcolor="silver" style=" border:1px solid black"> Exam Weight  </th>
        <td style=" border:1px solid black">  </td>
    </tr>
</table>
<br />
<br />
<table class="table" style="border: 2px solid black">
    <tr>
        <th bgcolor="silver" style=" border:1px solid black"> Section</th>
        <th bgcolor="silver" style=" border:1px solid black"> Instructor</th>
        <th bgcolor="silver" style=" border:1px solid black"> No. Of <br /> Enrolled <br />Students</th>
        <th bgcolor="silver" style=" border:1px solid black"> No. Of <br />Attendees</th>
        <th bgcolor="silver" style=" border:1px solid black"> No. Of <br />Absentees</th>
        <th bgcolor="silver" style=" border:1px solid black"> Average<br /> Grade</th>
        <th bgcolor="silver" style=" border:1px solid black"> Median<br /> Grade</th>
        <th bgcolor="silver" style=" border:1px solid black"> Success<br /> Rate</th>
        <th bgcolor="silver" style=" border:1px solid black"> Failure <br />Rate</th>
        <th bgcolor="silver" style=" border:1px solid black"> Highest <br />Grade</th>
        <th bgcolor="silver" style=" border:1px solid black"> Lowest<br /> Grade</th>
        <th bgcolor="silver" style=" border:1px solid black"> Exam <br />Absence<br /> Rate</th>
    </tr>
    <tr>
        <th style=" border:1px solid black"> 1</th>
        <td style=" border:1px solid black"> </td>
        <td style=" border:1px solid black"> </td>
        <td style=" border:1px solid black"> </td>
        <td style=" border:1px solid black"> </td>
        <td style=" border:1px solid black"> </td>
        <td style=" border:1px solid black"> </td>
        <td style=" border:1px solid black"> </td>
        <td style=" border:1px solid black"> </td>
        <td style=" border:1px solid black"> </td>
        <td style=" border:1px solid black"> </td>
        <td style=" border:1px solid black"> </td>
    </tr>
    <tr>
        <th style=" border:1px solid black"> 2</th>
        <td style=" border:1px solid black"> </td>
        <td style=" border:1px solid black"> </td>
        <td style=" border:1px solid black"> </td>
        <td style=" border:1px solid black"> </td>
        <td style=" border:1px solid black"> </td>
        <td style=" border:1px solid black"> </td>
        <td style=" border:1px solid black"> </td>
        <td style=" border:1px solid black"> </td>
        <td style=" border:1px solid black"> </td>
        <td style=" border:1px solid black"> </td>
        <td style=" border:1px solid black"> </td>
    </tr>
    <tr>
        <th style=" border:1px solid black"> 3</th>
        <td style=" border:1px solid black"> </td>
        <td style=" border:1px solid black"> </td>
        <td style=" border:1px solid black"> </td>
        <td style=" border:1px solid black"> </td>
        <td style=" border:1px solid black"> </td>
        <td style=" border:1px solid black"> </td>
        <td style=" border:1px solid black"> </td>
        <td style=" border:1px solid black"> </td>
        <td style=" border:1px solid black"> </td>
        <td style=" border:1px solid black"> </td>
        <td style=" border:1px solid black"> </td>
    </tr>
    <tr>
        <th style=" border:1px solid black"> ...</th>
        <td style=" border:1px solid black"> </td>
        <td style=" border:1px solid black"> </td>
        <td style=" border:1px solid black"> </td>
        <td style=" border:1px solid black"> </td>
        <td style=" border:1px solid black"> </td>
        <td style=" border:1px solid black"> </td>
        <td style=" border:1px solid black"> </td>
        <td style=" border:1px solid black"> </td>
        <td style=" border:1px solid black"> </td>
        <td style=" border:1px solid black"> </td>
        <td style=" border:1px solid black"> </td>
    </tr>
    <tr>
        <th style=" border:1px solid black"> All <br /> Sections</th>
        <td style=" border:1px solid black"> </td>
        <td style=" border:1px solid black"> </td>
        <td style=" border:1px solid black"> </td>
        <td style=" border:1px solid black"> </td>
        <td style=" border:1px solid black"> </td>
        <td style=" border:1px solid black"> </td>
        <td style=" border:1px solid black"> </td>
        <td style=" border:1px solid black"> </td>
        <td style=" border:1px solid black"> </td>
        <td style=" border:1px solid black"> </td>
        <td style=" border:1px solid black"> </td>
    </tr>
</table>
<br />
<br />
<pre><u><b>Date:</b></u>                     <u><b>Instructor/ CoordinatorSignature:</b></u></pre>
<br />
<br />

<footer>
    <table>
        <tr>

            <td> <img src="~/Images/R.PNG" /> </td>
            <td><img src="~/Images/Quality.PNG" /> </td>
            <td><img src="~/Images/Risk.PNG" /></td>
            <td>
                <b>
                    EP-F891, Rev. a<br />
                    Ref.: 15/06/2019 - 2020<br />
                    Date: 10/10/2019
                </b>

            </td>

            <td> <img src="~/Images/Certified.PNG" /> </td>
        </tr>
    </table>
</footer>