
@{
    ViewBag.Title = "ExamModerationChecklist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/FormsStyle.css" rel="stylesheet" />
<table align="center">
    <tr>
        <th>
            Al-Ahliyya Amman University
        </th>

        <td>
            <img src="~/Images/Al-Ahliya_Amman_University_Logo.png" />
        </td>

        <th>  جامعة عمان الأهلية </th>
    </tr>
</table>
<P align="center"><b> Faculty of Information Technology</b> </P>
<hr style="border: 2px solid black" />

<table style=" border:double, 2px solid black" align="center" width="30%" height="30%">
    <tr> <td bgcolor="silver" style="border:1px solid black">  <p align="center"> <b>Exam Moderation Checklist </b> </p></tr>
</table>
<br />
<br />
<table class="table" style="border: 2px solid black">
    <tr>
        <th bgcolor="silver" style=" border:1px solid black"> Faculty</th>
        <td style=" border:1px solid black">  </td>
        <th bgcolor="silver" style=" border:1px solid black"> Department </th>
        <td style=" border:1px solid black">  </td>
    </tr>
    <tr>
        <th bgcolor="silver" style=" border:1px solid black"> Course Title</th>
        <td style=" border:1px solid black">  </td>
        <th bgcolor="silver" style=" border:1px solid black"> Course Code  </th>
        <td style=" border:1px solid black">  </td>
    </tr>
    <tr>
        <th bgcolor="silver" style=" border:1px solid black"> Instructor/ <br /> Coordinator  Name</th>
        <td style=" border:1px solid black">  </td>
        <th bgcolor="silver" style=" border:1px solid black"> Academic Year /Semester  </th>
        <td style=" border:1px solid black">  </td>
    </tr>
    <tr>
        <th bgcolor="silver" style=" border:1px solid black"> Moderator</th>
        <td style=" border:1px solid black">  </td>
        <th bgcolor="silver" style=" border:1px solid black"> Date Received  </th>
        <td style=" border:1px solid black">  </td>
    </tr>
    <tr>
        <th bgcolor="silver" style=" border:1px solid black"> Type of Exam</th>
        <td style=" border:1px solid black"> <input type="checkbox" /> Midterm   <input type="checkbox" /> Final   <input type="checkbox" /> Other: </td>
        <th bgcolor="silver" style=" border:1px solid black"> Exam Weight  </th>
        <td style=" border:1px solid black">  </td>
    </tr>
    <tr>
        <th bgcolor="silver" style=" border:1px solid black"> Exam Date</th>
        <td style=" border:1px solid black">  </td>
        <th bgcolor="silver" style=" border:1px solid black"> Exam <br /> Duration Time </th>
        <td style=" border:1px solid black">  </td>
    </tr>
</table>
<br />
<br />
<table class="table" style="border: 2px solid black">
    <tr>
        <th bgcolor="silver" style=" border:1px solid black" align="center"> Evaluation Criteria</th>
        <th bgcolor="silver" style=" border:1px solid black" align="center"> Yes</th>
        <th bgcolor="silver" style=" border:1px solid black" align="center">No</th>
        <th bgcolor="silver" style=" border:1px solid black" align="center"> Comments</th>
    </tr>
    <tr>
        <td style=" border:1px solid black"> 1.	The exam adheres to the approved QA form. </td>
        <td style=" border:1px solid black">  </td>
        <td style=" border:1px solid black">  </td>
        <td style=" border:1px solid black">  </td>
    </tr>
    <tr>
        <td style=" border:1px solid black"> 2.	Are the exam items aligned to the CLOs listed in<br /> the course syllabus. </td>
        <td style=" border:1px solid black">  </td>
        <td style=" border:1px solid black">  </td>
        <td style=" border:1px solid black">  </td>
    </tr>
    <tr>
        <td style=" border:1px solid black">3.	Are the exam items aligned to the SLOs listed in <br />the course syllabus. </td>
        <td style=" border:1px solid black">  </td>
        <td style=" border:1px solid black">  </td>
        <td style=" border:1px solid black">  </td>
    </tr>
    <tr>
        <td style=" border:1px solid black">4.	Is the examination comprehensive and appropriate,<br /> given the course content and class schedule. </td>
        <td style=" border:1px solid black">  </td>
        <td style=" border:1px solid black">  </td>
        <td style=" border:1px solid black">  </td>
    </tr>
    <tr>
        <td style=" border:1px solid black"> 5.	Are the question statements clear, free of typos, <br />complete, and not misleading .</td>
        <td style=" border:1px solid black">  </td>
        <td style=" border:1px solid black">  </td>
        <td style=" border:1px solid black">  </td>
    </tr>
    <tr>
        <td style=" border:1px solid black"> 6.	Do the exam items test the various levels of: <br /> knowledge, comprehension, analysis, synthesis,<br /> application, evaluation etc. </td>
        <td style=" border:1px solid black">  </td>
        <td style=" border:1px solid black">  </td>
        <td style=" border:1px solid black">  </td>
    </tr>
    <tr>
        <td style=" border:1px solid black"> 7.	The questions given are adequate/ appropriate to <br />the allocated exam time. </td>
        <td style=" border:1px solid black">  </td>
        <td style=" border:1px solid black">  </td>
        <td style=" border:1px solid black">  </td>
    </tr>
    <tr>
        <td style=" border:1px solid black"> 8.	Has a marking scheme covering all the exam items <br />been provided. </td>
        <td style=" border:1px solid black">  </td>
        <td style=" border:1px solid black">  </td>
        <td style=" border:1px solid black">  </td>
    </tr>
</table>
<br />
<b>Additional Comments:</b>
<hr />
<hr />
<hr />
<br />
<pre><b>Moderation Date: ……………………………….       	Signature: …………………………..</b></pre>
<br />
<br />
<table class="img_footer">
    <tr>

        <td> <img src="~/Images/R.PNG" /> </td>
        <td><img src="~/Images/Quality.PNG" /> </td>
        <td><img src="~/Images/Risk.PNG" /></td>
        <td>
            <b>
                EP-F891, Rev. a<br />
                Ref.: 15/06/2019 - 2020<br />
                Date: 10/10/2019
            </b>

        </td>

        <td> <img src="~/Images/Certified.PNG" /> </td>
    </tr>
</table>
