
@{
    ViewBag.Title = "QuestionsAnswersSheet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table align="center">
    <tr>
        <th>
            Al-Ahliyya Amman University
        </th>

        <td>
            <img src="~/Images/Al-Ahliya_Amman_University_Logo.png" />
        </td>

        <th>  جامعة عمان الأهلية </th>
    </tr>
</table>
<P align="center"><b> Faculty of Information Technology</b> </P>
<hr style="border: 2px solid black" />

<table style="border:double" align="center" width="30%" height="30%">
    <tr> <td bgcolor="silver" style="border:1px solid black">  <p align="center"> <b>Questions /Answers Sheet </b> </p></tr>
</table>
<br />
<br />
<b>Form Code:(  )Date:</b>
<table class="table" style="border:double">
    <tr>
        <th style=" border:1px solid black"> Faculty</th>
        <th style=" border:1px solid black"> Department</th>
    </tr>
    <tr>
        <th style=" border:1px solid black"> Academic Year: </th>
        <th style=" border:1px solid black"> Semester: </th>
    </tr>
    <tr>
        <th style=" border:1px solid black"> Course Name:</th>
        <th style=" border:1px solid black"> Course No.: </th>
    </tr>
    <tr>
        <th style=" border:1px solid black" colspan="2"> Test/Exam: </th>
    </tr>
    <tr>
        <th style=" border:1px solid black"> Duration:</th>
        <th style=" border:1px solid black"> No. of  Pages: </th>
    </tr>
    <tr>
        <th style=" border:1px solid black"> Instructor: </th>
        <th style=" border:1px solid black"> Coordinator:  </th>
    </tr>
</table>
<br />
<table class="table" style="border:double">
    <tr>
        <th style=" border:1px solid black"> Student Name: </th>
        <th style=" border:1px solid black"> Reg. No.: </th>
    </tr>
</table>
<br />
<table class="table" style="border:double">
    <tr>
        <th bgcolor="silver" style=" border:1px solid black"> Question<br /> No.</th>
        <th bgcolor="silver" style=" border:1px solid black"> Course <br />Learning <br />Outcome(s)</th>
        <th bgcolor="silver" style=" border:1px solid black"> Student<br /> Learning <br />Outcome(s)</th>
        <th bgcolor="silver" style=" border:1px solid black"> Performance<br /> Indicator(s)<br />(if applicable)</th>
        <th bgcolor="silver" style=" border:1px solid black"> Assigned <br />Mark</th>
        <th bgcolor="silver" style=" border:2px solid black"> Awarded  Mark</th>
    </tr>
    <tr>
        <th bgcolor="silver" style=" border:1px solid black" align="center"><p align="center"> Q1 </p> </th>
        <td style=" border:1px solid black"> </td>
        <td style=" border:1px solid black"> </td>
        <td style=" border:1px solid black"> </td>
        <td style=" border:1px solid black"> </td>
        <td style=" border:2px solid black" align="center"> /</td>
    </tr>
    <tr>
        <th bgcolor="silver" style=" border:1px solid black" align="center"><p align="center"> Q2 </p> </th>
        <td style=" border:1px solid black"> </td>
        <td style=" border:1px solid black"> </td>
        <td style=" border:1px solid black"> </td>
        <td style=" border:1px solid black"> </td>
        <td style=" border:2px solid black" align="center"> /</td>
    </tr>
    <tr>
        <th bgcolor="silver" style=" border:1px solid black" align="center"><p align="center"> Q3 </p> </th>
        <td style=" border:1px solid black"> </td>
        <td style=" border:1px solid black"> </td>
        <td style=" border:1px solid black"> </td>
        <td style=" border:1px solid black"> </td>
        <td style=" border:2px solid black" align="center"> /</td>
    </tr>
    <tr>
        <th bgcolor="silver" style=" border:1px solid black" align="center"> <p align="center">Q4 </p></th>
        <td style=" border:1px solid black"> </td>
        <td style=" border:1px solid black"> </td>
        <td style=" border:1px solid black"> </td>
        <td style=" border:1px solid black"> </td>
        <td style=" border:2px solid black" align="center"> /</td>
    </tr>
    <tr>
        <th  style=" border:2px solid black" colspan="5"> Total </th>
        <td style=" border:2px solid black" align="center"> /</td>
    </tr>
</table>
<br />
<b>
    Exam/Test instructions:
</b><br />
    •	Students must be in possession of all items they need during the exam/ Test. Borrowing from others is not permitted.<br />
    •	Students must report to the assigned room ten minutes before the official start time.<br />
    •	Mobile phones are not Permitted in the examination room.<br />
    •	Students must display current photo identification.<br />
    •	Cheating is strictly forbidden.<br />
    •	Students are expected to keep quiet throughout the exam/ Test. Asking questions is not permitted except when absolutely necessary.<br />
    •	Only blue or black pens are permitted.
<br />
<br />
<table class="img_footer">
    <tr>

        <td> <img src="~/Images/R.PNG" /> </td>
        <td><img src="~/Images/Quality.PNG" /> </td>
        <td><img src="~/Images/Risk.PNG" /></td>
        <td>
            <b>
                EP-F891, Rev. a<br />
                Ref.: 15/06/2019 - 2020<br />
                Date: 10/10/2019
            </b>

        </td>

        <td> <img src="~/Images/Certified.PNG" /> </td>
    </tr>
</table>