@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
@{
    ViewBag.Title = "CouresPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/coursepage.css" rel="stylesheet" type="text/css" />
<h2 style="text-align:center"> Coures Page Information </h2>
<div class="block" style="margin-top:80px;">

    <div class="block-item" style="margin-right:30px">

        <table>
            <tr>   <th colspan="2"> <p> Course Information </p>  </th></tr>
            <tr> <td>   <h4> Coures Title </h4>  </td> <td> Software Design </td></tr>
            <tr> <td>    <h4> Coures ID </h4>  </td> <td> A0797543343</td></tr>
            <tr> <td>   <h4> Faculty Name   </h4> </td> <td> IT </td></tr>
            <tr> <td>   <h4> Credit Hours   </h4> </td> <td> 3 o nos </td></tr>
        </table>
    </div>

    <div class="block-item">

        <table>
            <tr>   <th colspan="2"> <p> Text Book </p>  </th></tr>
            <tr> <td>   <h4> Title </h4>  </td> <td> Software Design Book </td></tr>
            <tr> <td>    <h4> Author </h4>  </td> <td> Fares el Taweel</td></tr>
            <tr> <td>   <h4> Edition   </h4> </td> <td> 4th Edtion </td></tr>
            <tr> <td>   <h4> Year   </h4> </td> <td> 2016 </td></tr>
            <tr> <td>   <h4> ISBN   </h4> </td> <td> 123456678 </td></tr>
        </table>


    </div>

</div>


